$defaultWindowW: 900px;
$defaultWindowH: 600px;
$titleBarHeigth: 40px;

.window{
    position: absolute;
    left: 5%;
    top: 5%;
    width: $defaultWindowW;
    height: $defaultWindowH;
    background-color: #9de9ae;
    border: gray solid 5px;
    box-shadow: 10px 10px 0px rgba(53, 53, 53, 0.3);
    .windowTitleBar{
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: gray solid 2px;
        height: $titleBarHeigth;
        
        .WindowTitle{
            width: 100%;
            font-size: 20px;
        }
    
        .MinimizeWindow,.closeWindow,.disableCloseWindow{
            cursor: pointer;
            background-color: #85ca94;
            border-bottom: gray solid 2px;
            transition: 0.1s;
            position: absolute;
            border-left: gray solid 2px;
            width: fit-content;
            padding: 10px;
            right: 0;
            top: 0;
            text-decoration: none;
            color: black;
            height: $titleBarHeigth;
            width: 40px;
            height: 40px;
            svg{
                position:absolute;
                top:50%;
                bottom:50%;
                transform:translate(-50%, -50%);
                width: 20px;
                height: 20px;
            }
        }
        .MinimizeWindow{
            position: absolute;
            right: 40px;
        }
        .MinimizeWindow:hover{
            background-color: #75b382;
        }
        .MinimizeWindow:active{
            background-color: #36533d;;
        }
        .closeWindow:hover{
            background-color: rgb(255, 109, 109);
        }
        .closeWindow:active{
            background-color: rgb(131, 57, 57);
        }
        .disableCloseWindow:hover{
            background-color: rgb(206, 172, 172);
        }
        .disableCloseWindow{
            background-color: rgb(165, 157, 157);
        }
    }
}

.draggable-container{
    position: absolute;
    .draggable-handle{
        cursor: grab;
    }
}


