
  ::-webkit-scrollbar-thumb{
    border-radius: none;
    background-color: gray;
  }
  ::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    
  }
  ::-webkit-scrollbar-button{
    display: none;
    
  }