$barFontColor:white;
#taskBar{
    width: 100%;
    height: 54px;
    border-top: gray solid 2px;
    background-color: darkgray;
    position: absolute;
    bottom: -2px;
    user-select : none;
    box-shadow: 0 -3px 1px gray;
    z-index: 9999;
    // transition: all 0.2s ease;
    // transform: translateY(-100%);
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        height: 100%;
        li{
            margin: 0;
            display: inline-block;
            line-height: 50px;
            max-width: 200px;
            min-width: 75px;
            width: 20%;
            border-right: rgb(119, 119, 119) solid 2px;
            text-align: center;
            height: 50px;
            cursor: pointer;
            .taskLabel{
                min-width: 100px;
                width: justify-content;
            }
            a{
                text-decoration: none;
                color: $barFontColor;
                font-size: 20px;
                svg{
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
            svg{
                vertical-align: middle;
                width: 25px;
                height: 25px;
                color: $barFontColor;
            }
        }
        li:first-child{
            width: 50px;
        }
        li:hover{
            background-color: rgb(150, 150, 150);
        }
    }
}

.pressedLabel{
    background-color: gray;
}
.normalLabel{
    background-color: darkgray;
}
.pressedLabel,.normalLabel{
    transition: 0.2s;
}

.normalLabel:hover{
    background-color: rgb(102, 102, 102);
}
//:hover会把:active覆盖，所以使用更优先级的方式
#taskBar>ul>li:active{
    background-color: rgb(99, 99, 99);
}